/*
GLOBAL TAG
*/

table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid gray;
}

/*
- LoginServlet
- Sign Up */

.index-center {
    margin: auto;
    padding: 20px 30px;
    width: 350px;
    height: 400px;
    background-color: #8BBD3C;
    color: #02702C;
    border-radius: 50px;
    border: 10px solid #02702C;
    position: relative;
}

.index-greetings {
    background-color: inherit;
    position: relative;
    z-index: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

div.index-greetings:before {
    background: #02702C;
    content: "";
    display: block;
    height: 2px;
    top: 50%;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 0;
}

div.index-greetings span {
    background-color: #8BBD3C;
    position: relative;
    margin: 30px;
    z-index: 1;
}

span#signup {
    margin: 16px;
}

form#index-loginform {
    margin-top: 45px;
    font-size: 30px;
}

form#index-loginform input{
    float: right;
    font-size: 15px;
    height: 30px;
    padding: 0px 5px;
}

form input.index-textbox {
    width: 180px;
}

form#index-signupform input.index-textbox{
    font-size: 15px;
    width: 100%;
    padding: 2px 0px;
    height: 18px;
}

.index-button {
    float: right;
    background-color: #82D800;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

form#index-loginform input#login-button {
    padding-top: 3px;
    height: 42px;
    width: 100px;
    font-size: 30px;
    color: #33332E;
}

form#index-signupform input#signup-button {
    padding: 0px 3px;
    height: 50px;
    font-size: 20px;
    float: right;
    color: #33332E;
}

#index-signup {
    font-size: 15px;
}

form a {
    color: #333333;
}

div#signupbottom {
    margin-top: 20px;
}

form table#loginformtable {
    width: 100%;
    border: 0px;
}

form table#loginformtable tr {
    height: 50px;
    border: 0px;
}

form table#loginformtable tr td {
    border: 0px;
}

form table#signupformtable {
    width: 100%;
    border: 0px;
}

form table#signupformtable tr {
    height: 30px;
    border: 0px;
}

form table#signupformtable tr td {
    border: 0px;
}

td.property {
    width: 40%;
}

td.text {
    width: 40%;
}

form#index-signupform input#username.index-textbox, form#index-signupform input#email.index-textbox {
    width: 100%;
}

td.bottomrow {
    border: 0px;
    padding-top: 20px;
}

/*
- Profile
- Edit-Profile
- Edit-Preferred-Location */

.profile {
    margin: 0 auto;
    width: 600px;
}

.profile-nav-top {
    width: 100%;
}

.profile-logo {
    float: left;
}

.profile-logout {
    float: right;
}

.profile-projek {
    margin-bottom: -20px;
}

.pr, .ojek, .strip {
    font-size: 30px;
    margin-bottom: -10px;
}

.pr, .wush {
    color: green;
}

.wush {
    margin-bottom: 10px;
}

.ojek {
    color: red;
}

.profile-link {
    float: right;
    font-size: 20px;
    margin-top: 15px;
}

.profile-link>p {
    margin: 0;
}

.profile-nav-bot {
    display: flex;
    width: 100%;
}

.profile-section {
    width: 33%;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.profile-section-name {
    text-decoration: none;
    color: black;
}

.profile-body-title {
    float: left;
    font-size: 33px;
    font-weight: bold;
}

.profile-body-title-bot {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.profile-user-id {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.profile-identity {
    font-size: 20px;
    margin-top: 8px;
}

.profile-rating {
    color: #FF9100;
}

.profile-edit {
    float: right
}

.profile-main-top {
    margin-top: 10px;
    height: 50px;
}

.profile-main-mid {
    margin: 0 auto;
    text-align: center;
}

.mail {
    height: 10px;
}

.telephone {
    height: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid black;
}

.profile-main-bot {
    margin-top: 40px;
}

.profile-bot {
    height: 30px;
}

#profile-section-3 {
    background-color: green;
}

#profile-section-3 > .profile-section-name {
    color: white;
}

.profile-section:hover {
    background-color: green;
}

.profile-section:hover > .profile-section-name {
    color: white;
}

.profile-preferred-location {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.profile-preferred-location > li:before {
    content: "►";
    padding-right: 5px;
}

.edit-profile {
    margin: 50px auto 0;
    width: 510px;
}

.edit-profile-table-title {
    font-size: 33px;
}

.edit-profile-table {
    margin-top: 15px;
    width: 100%;
}

.edit-profile-table-num {
    width: 10%;
}

.edit-profile-table-loc {
    width: 70%;
}

.edit-profile-table-act {
    width: 20%;
}

.edit-profile-table-row {
    padding: 7px;
    font-size: 17px;
}

.edit-profile-edit-form {
    margin-top: 40px;
}

.edit-profile-edit-form-title {
    font-size: 23px;
    margin-bottom: 15px;
}

.edit-profile-input {
    width: 400px;
    height: 25px;
    margin-right: 10px;
}

.edit-profile-submit {
    width: 90px;
    height: 30px;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
}

.edit-profile-back {
    width: 70px;
    border: 1px solid black;
    background-color: red;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    color: black;
}

.edit-profile-back-link {
    text-decoration: none;
    width: 70px;
    line-height: 30px;
}

.edit-profile-icon-edit {
    float: left;
    height: 18px;
    padding-left: 10px;
}

.edit-profile-icon-delete {
    float: right;
    height: 18px;
    padding-right: 10px;
    margin-top: -17px;
}

.edit-location-button {
    display: none;
}

.editprofile {
    margin: 0 auto;
    width: 505px;
}

.editprofile-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
}

.editprofile-image {
    width: 160px;
    height: 160px;
    border: 2px solid black;
}

.editprofile-container {
    display: flex;
    margin-top: 15px;
}

.editprofile-left {
    width: 200px;
}

.editprofile-form-input-name {
    margin-top: 35px;
    font-size: 22px;
}

.editprofile-form-input-name > div {
    margin-bottom: 13px;
}

.editprofile-right {
    margin-left: 0px;
    width: 300px;
}

.editprofile-right > form > input {
    float: right;
}

.editprofile-name, .editprofile-phone {
    width: 100%;
    height: 28px;
    font-size: 23px;
    padding: 3px 0px 4px 3px;
    margin-bottom: 2px;
}

.editprofile-form-top {
    margin-top: 40px;
}

.editprofile-form-top-title {
    font-size: 22px;
    margin-bottom: 10px;
}

#editprofile-new-image {
    display: none;
}

.editprofile-image-label {
    display: flex;
}

.editprofile-image-path {
    width: 250px;
    height: 22px;
    border: 1px solid #9E9E9E;
    padding: 3px 0px 0px 5px;
    font-size: 15px;
}

.editprofile-image-button {
    margin-left: 8px;
    width: 70px;
    height: 15px;
    border: 1px solid #9E9E9E;
    background-color: #E0E0E0;
    font-size: 11px;
    text-align: center;
    padding-top: 2px;
    margin-top: 4px;
}

.editprofile-form-bot {
    margin-top: 100px;
    height: 100%;
}

.editprofile-form-bot > input[type="submit"], .editprofile-switch {
    float: right;
}

.editprofile-submit {
    font-size: 20px;
    margin-top: 60px;
    margin-right: -50px;
    background-color: greenyellow;
    border: 1px solid black;
    padding: 5px 18px;
    border-radius: 15%;
}

.editprofile-back-container {
    margin-top: 30px;
}

.editprofile-back {
    font-size: 20px;
    background-color: red;
    border: 1px solid black;
    padding: 5px 18px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}

.editprofile-switch {
    margin-top: 3px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.editprofile-switch input {
    display:none;
}

.editprofile-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -4px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.editprofile-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .editprofile-slider {
    background-color: green;
}

input:focus + .editprofile-slider {
    box-shadow: 0 0 1px green;
}

input:checked + .editprofile-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.editprofile-slider.editprofile-round {
    border-radius: 20px;
}

.editprofile-slider.editprofile-round:before {
    border-radius: 50%;
}